[submodule "ngx_brotli"]
	path = ngx_brotli
	url = https://github.com/google/ngx_brotli.git
[submodule "testcookie-nginx-module"]
	path = testcookie-nginx-module
	url = https://github.com/kyprizel/testcookie-nginx-module.git
[submodule "nginx_requestid"]
	path = nginx_requestid
	url = https://github.com/hhru/nginx_requestid.git
