Source: nginx-modules
Section: httpd
Priority: optional
Maintainer: Alexander Mishurov <a.mishurov@hh.ru>
Build-Depends: debhelper (>= 10), libssl-dev, libpcre++-dev
Standards-Version: 4.1.2

Package: nginx-modules
Architecture: any
Depends: ${misc:Depends}
Description: precompiled hh nginx modules
 Precompiled hh nginx modules: ngx_http_testcookie_access_module.so ngx_http_brotli_filter_module.so ngx_http_brotli_static_module.so ngx_http_requestid_module.so

